<div class="todos">
    <form (submit)= "scanTodo()">
        <mat-form-field>
            <mat-label>Scan</mat-label>
            <input matInput  
                placeholder="Enter list..." 
                name="inputScan" 
                type="text" 
                [(ngModel)]="inputScan"
            >
        </mat-form-field>
    </form>
    <button mat-button color="accent" (click)="findTodo()">All lists</button>
    <p> performed / counter</p>
    <h1> {{this.performed}} / {{this.counter}}</h1>
    <form (submit)= "addTodo()">
        <mat-form-field>
            <mat-label>Add todo</mat-label>
            <input matInput  
                type="text"
                name="inputTodo"
                placeholder="Enter todo..."
                [(ngModel)]="inputTodo"
            >
            <button mat-button matSuffix>Add</button>
        </mat-form-field>
    </form>
    <div *ngFor="let todo of todos; let i=index;"
        class="todo"
    >
        <div class="content" (click)="toggleDoneTodo(i)">{{ todo.name }}</div>
        <div *ngIf="todo.open">
            <div *ngFor="let list of todo.lists; let j=index;"
                class="list {{(list.completed ? 'done' : '')}}"
            >
                <div class="content" (click)="toggleDoneList(j, i)">{{ list.content }}</div>
                <button mat-mini-fab color="warn" (click)="deleteList(j, i)">
                   X
                </button>
            </div>
            <form (submit)= "addList(i)">
                <mat-form-field>
                    <input matInput 
                        type="text" 
                        name="inputList"
                        placeholder="Enter list..."
                        [(ngModel)]="inputList"
                    >
                </mat-form-field>
            </form>
        </div>
        <div> {{todo.performed}} / {{todo.counter}} </div>
        <button mat-raised-button color="warn"  (click)="deleteTodo(todo.id)">Remove</button>
    </div>
</div>